.conteudo-main{    
  width: 1500px;
  margin: 180px auto 80px auto;
}

.conteudo-main h1 {
  color: var(--textoPrincipal);
  text-align: center;
  font-size: 2.5rem;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  text-transform: uppercase;  
  
}

.conteudo-main p {
 margin-top: 20px;  
 font-size: 1.5rem;
 color: var(--textoPrincipal);
 text-align: center;
 font-family: Poppins; 
}

hr{
  margin-top: 50px;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, transparent, var(--textoPrincipal), transparent);
}