.conteudo{    
  width: 1500px;
  margin: 200 auto;
}

.conteudo h1 {
  color: var(--textoPrincipal);
  text-align: center;
  font-size: 3.0rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Poppins;
}

.conteudo p {
 margin-top: 20px; 
 font-size: 2.0rem;
 color: var(--textoPrincipal);
 text-align: center;

}

hr{
  margin-top: 50px;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, transparent, var(--textoPrincipal), transparent);
}